user <%= node[:nginx][:user] %> <%= node[:nginx][:group] %>;
worker_processes  <%= node[:nginx][:worker_processes] %>;

error_log  <%= node[:nginx][:log_dir] %>/error.log;
pid        <%= node[:nginx][:pid_file] %>;

events {
  worker_connections  <%= node[:nginx][:worker_connections] %>;
}

http {
  include       <%= node[:nginx][:dir] %>/mime.types;
  default_type  application/octet-stream;

  real_ip_header True-Client-IP;
  set_real_ip_from 0.0.0.0/0;

  map_hash_max_size 128;
  map_hash_bucket_size 128;

  <% node[:nginx][:log_format].each do |name, format| %>
  log_format <%= name %> <%= format %>;
  <% end %>

  access_log	<%= node[:nginx][:log_dir] %>/access.log;

  sendfile on;
  tcp_nopush on;
  tcp_nodelay on;

  <% if node[:nginx][:keepalive] == "on" %>
  keepalive_timeout  <%= node[:nginx][:keepalive_timeout] %>;
  <% end %>

  gzip  <%= node[:nginx][:gzip] %>;
  gzip_static  <%= node[:nginx][:gzip_static] %>;
  <% if node[:nginx][:gzip] == "on" %>
  gzip_http_version <%= node[:nginx][:gzip_http_version] %>;
  gzip_comp_level <%= node[:nginx][:gzip_comp_level] %>;
  gzip_proxied <%= node[:nginx][:gzip_proxied] %>;
  gzip_types <%= node[:nginx][:gzip_types].join(' ') %>;
  gzip_vary <%= node[:nginx][:gzip_vary] %>;
  gzip_disable "<%= node[:nginx][:gzip_disable] %>";
  <% end %>

  client_max_body_size <%= node[:nginx][:client_max_body_size] %>;

  server_names_hash_bucket_size <%= node[:nginx][:server_names_hash_bucket_size] %>;

  proxy_buffer_size 128k;
  proxy_buffers 4 256k;
  proxy_busy_buffers_size 256k;
  fastcgi_buffers 16 16k;
  fastcgi_buffer_size 32k;

  include <%= node[:nginx][:dir] %>/conf.d/*.conf;
  include <%= node[:nginx][:dir] %>/sites-enabled/*;
}
