<?php
return array (
  'backend' =>
  array (
    'frontName' => '<%= @appboprefix%>',
  ),
  'install' =>
  array (
    'date' => 'Thu, 18 Feb 2016 20:59:44 +0000',
  ),
  'crypt' =>
  array (
    'key' => '<%= @appsecret%>',
  ),
  <% if @cachehost -%>
  'cache' =>
  array(
    'frontend' =>
      array(
        'default' =>
          array(
            'backend' => 'Cm_Cache_Backend_Redis',
            'backend_options' =>
              array(
                'server' => '<%= @cachehost %>',
                'database' => '0',
                'port' => '6379'
              ),
        ),
        'page_cache' =>
          array(
            'backend' => 'Cm_Cache_Backend_Redis',
            'backend_options' =>
              array(
                'server' => '<%= @cachehost %>',
                'port' => '6379',
                'database' => '1',
                'compress_data' => '0'
              )
        )
      )
    ),
  <% end -%>
  <% if @sessionhost -%>
  'session' =>
   array (
    'save' => 'redis',
    'redis' =>
    array (
      'host' => '<%= @sessionhost %>',
      'port' => '6379',
      'password' => '',
      'timeout' => '2.5',
      'persistent_identifier' => '',
      'database' => '2',
      'compression_threshold' => '2048',
      'compression_library' => 'gzip',
      'log_level' => '3',
      'max_concurrency' => '6',
      'break_after_frontend' => '5',
      'break_after_adminhtml' => '30',
      'first_lifetime' => '600',
      'bot_first_lifetime' => '60',
      'bot_lifetime' => '7200',
      'disable_locking' => '0',
      'min_lifetime' => '60',
      'max_lifetime' => '2592000'
    ),
   ),
  <% else -%>
  'session' =>
    array (
      'save' => 'files',
    ),
  <% end -%>
  'db' =>
  array (
    'table_prefix' => '<%= @dbprefix%>',
    'connection' =>
    array (
      'default' =>
      array (
        'host' => '<%= @dbhost%>',
        'dbname' => '<%= @dbname%>',
        'username' => '<%= @dbuser%>',
        'password' => '<%= @dbpassword%>',
        'model' => 'mysql4',
        'engine' => 'innodb',
        'initStatements' => 'SET NAMES utf8;',
        'active' => '1',
      ),
    ),
  ),
  'resource' =>
    array (
      'default_setup' =>
      array (
        'connection' => 'default',
      ),
    ),
    'x-frame-options' => 'SAMEORIGIN',
    'MAGE_MODE' => 'default',
    'cache_types' =>
    array (
      'config' => 1,
      'layout' => 1,
      'block_html' => 1,
      'collections' => 1,
      'reflection' => 1,
      'db_ddl' => 1,
      'eav' => 1,
      'config_integration' => 1,
      'config_integration_api' => 1,
      'full_page' => 1,
      'translate' => 1,
      'config_webservice' => 1,
    ),
  );