<?php
return [
    'backend' => [
        'frontName' => '<%= @appboprefix%>'
    ],
    'install' => [
        'date' => 'Fri, 13 Nov 2020 10:00:00 +0000'
    ],
    'crypt' => [
        'key' => '<%= @appsecret%>'
    ],
    <% if @cachehost -%>
    'cache' => [
        'frontend' => [
            'default' => [
                'backend' => 'Magento\\Framework\\Cache\\Backend\\Redis',
                'backend_options' => [
                    'server' => '<%= @cachehost %>',
                    'database' => '0',
                    'port' => '6379'
                ],
            ],
            'page_cache' => [
                'backend' => 'Magento\\Framework\\Cache\\Backend\\Redis',
                'backend_options' => [
                    'server' => '<%= @cachehost %>',
                    'port' => '6379',
                    'database' => '1',
                    'compress_data' => '0'
                ]
            ]
        ]
    ],
    <% else -%>
    'cache' => [
        'frontend' => [
            'default' => [
                'id_prefix' => '0a5_'
            ],
            'page_cache' => [
                'id_prefix' => '0a5_'
            ]
        ],
        'allow_parallel_generation' => false
    ],
    <% end -%>
    <% if @sessionhost -%>
    'session' =>
    array (
        'save' => 'redis',
        'redis' =>
        array (
        'host' => '<%= @sessionhost %>',
        'port' => '6379',
        'password' => '',
        'timeout' => '2.5',
        'persistent_identifier' => '',
        'database' => '2',
        'compression_threshold' => '2048',
        'compression_library' => 'gzip',
        'log_level' => '3',
        'max_concurrency' => '6',
        'break_after_frontend' => '5',
        'break_after_adminhtml' => '30',
        'first_lifetime' => '600',
        'bot_first_lifetime' => '60',
        'bot_lifetime' => '7200',
        'disable_locking' => '0',
        'min_lifetime' => '60',
        'max_lifetime' => '2592000'
        ),
    ),
    <% else -%>
    'session' =>
        array (
        'save' => 'files',
        ),
    <% end -%>
    'db' => [
        'table_prefix' => '<%= @dbprefix%>',
        'connection' => [
            'default' => [
                'host' => '<%= @dbhost%>',
                'dbname' => '<%= @dbname%>',
                'username' => '<%= @dbuser%>',
                'password' => '<%= @dbpassword%>',
                'model' => 'mysql4',
                'engine' => 'innodb',
                'initStatements' => 'SET NAMES utf8;',
                'active' => '1',
                'driver_options' => [
                    1014 => false
                ]
            ]
        ]
    ],
    'resource' => [
        'default_setup' => [
            'connection' => 'default'
        ]
    ],
    'x-frame-options' => 'SAMEORIGIN',
    'MAGE_MODE' => 'default',
    'lock' => [
        'provider' => 'db',
        'config' => [
            'prefix' => null
        ]
    ],
    'directories' => [
        'document_root_is_pub' => false
    ],
    'cache_types' => [
        'config' => 1,
        'layout' => 1,
        'block_html' => 1,
        'collections' => 1,
        'reflection' => 1,
        'db_ddl' => 1,
        'compiled_config' => 1,
        'eav' => 1,
        'customer_notification' => 1,
        'config_integration' => 1,
        'config_integration_api' => 1,
        'full_page' => 1,
        'config_webservice' => 1,
        'translate' => 1
    ],
    'queue' => [
        'consumers_wait_for_messages' => 1
    ],
];
