vcl 4.0;
<% @instances.each do |instance| %>
backend <%= instance.gsub(/[\.-]/, '_') %>  {
    .host = "<%= instance %>";
    .port = "80";
    .probe = {
         .url = "/";
         .interval = 10s;
         .timeout = 5 s;
         .window = 5;
         .threshold = 3;
    }
}
<% end %>
director origin round-robin{
<% @instances.each do |instance| %>
    {
    .backend=<%= instance.gsub(/[\.-]/, '_') %>;
    }
  <% end %>
}

sub vcl_recv {
  set req.backend = origin;
}
