# /etc/sudoers
# This file MUST be edited with the 'visudo' command as root.
# See the man page for details on how to write a sudoers file.

#includedir /etc/sudoers.d

Defaults	env_reset

# Host alias specification

# User alias specification

# Cmnd alias specification

# User privilege specification
root	ALL=(ALL) ALL

# Uncomment to allow members of group sudo to not need a password
# (Note that later entries override this, so you might need to move
# it further down)
# %sudo ALL=NOPASSWD: ALL

# Members of the admin group may gain root privileges
%admin ALL=(ALL) ALL

<% if @system_sudoer %>
# <%= @system_sudoer %> user is default user in ec2-images.  
# It needs passwordless sudo functionality.
<%= @system_sudoer %> ALL=(ALL) NOPASSWD:ALL
<% end %>

apache ALL=(ALL) NOPASSWD:ALL

<% (@sudoers || []).each do |sudoer| %>
<%= sudoer[:name] %>  ALL=(ALL) NOPASSWD:ALL
<% end %>
