<VirtualHost *:<%= node[:apache][:listen_ports][0] %>>
  ServerName <%= @params[:server_name] %>
  <% if @params[:server_aliases] && !@params[:server_aliases].empty? -%>
  ServerAlias <% @params[:server_aliases].each do |a| %><%= "#{a}" %> <% end %>
  <% end -%>
  DocumentRoot <%= @params[:docroot] %>

  <% if node[:apache][:custom][:encodedslashes] == 'true' -%>
  AllowEncodedSlashes On
  <% end -%>

  <Directory <%= @params[:docroot] %>>
    <% if node[:htpasswd][:enabled] == 'true'  -%>
        AuthType Basic
        AuthName "<%= node[:htpasswd][:name] %>"
        AuthUserFile <%= node[:htpasswd][:path] %>
        Require valid-user
    <% end -%>
    Options FollowSymLinks
    AllowOverride All
    Order allow,deny
    Allow from all
  </Directory>
  
  <Directory ~ "\.svn">
    Order allow,deny
    Deny from all
  </Directory>

  <Directory ~ "\.git">
    Order allow,deny
    Deny from all
  </Directory>

  LogLevel <%= node[:apache][:log_level] %>
  ErrorLog <%= node[:apache][:log_dir] %>/<%= @params[:name] %>-error.log
  CustomLog <%= node[:apache][:log_dir] %>/<%= @params[:name] %>-access.log combined
  CustomLog <%= node[:apache][:log_dir] %>/<%= @params[:name] %>-ganglia.log ganglia

  FileETag none

  RewriteEngine On
  <% if node[:apache][:version] == '2.2' -%>
  Include <%= @params[:rewrite_config] %>*
  RewriteLog <%= node[:apache][:log_dir] %>/<%= @application_name %>-rewrite.log
  RewriteLogLevel 0
  <% else -%>
  IncludeOptional <%= @params[:rewrite_config] %>*
  <% end -%>

  <% @environment.each do |key, value| %>
  SetEnv "<%= key %>" "<%= value %>"
  <% end %>

  <% if @params[:mounted_at] -%>
  AliasMatch ^<%= @params[:mounted_at] %>/(.*)$ <%= @params[:docroot] %>$1
  <% end -%>

  <% if node[:apache][:version] == '2.2' -%>
  Include <%= @params[:local_config] %>*
  <% else -%>
  IncludeOptional <%= @params[:local_config] %>*
  <% end -%>
</VirtualHost>

<% if node[:deploy][@application_name][:ssl_support] -%>
<VirtualHost *:443>
  ServerName <%= @params[:server_name] %>
  <% if @params[:server_aliases] && !@params[:server_aliases].empty? -%>
  ServerAlias <% @params[:server_aliases].each do |a| %><%= "#{a}" %> <% end %>
  <% end -%>
  DocumentRoot <%= @params[:docroot] %>

  SSLEngine on
  SSLProxyEngine on
  SSLCertificateFile <%= node[:apache][:dir] %>/ssl/<%= @params[:server_name] %>.crt
  SSLCertificateKeyFile <%= node[:apache][:dir] %>/ssl/<%= @params[:server_name] %>.key
  <% if @params[:ssl_certificate_ca] -%>
  SSLCACertificateFile <%= node[:apache][:dir] %>/ssl/<%= @params[:server_name] %>.ca
  <% end -%>
  SetEnvIf User-Agent ".*MSIE.*" nokeepalive ssl-unclean-shutdown downgrade-1.0 force-response-1.0

  <Directory <%= @params[:docroot] %>>
    Options FollowSymLinks
    AllowOverride All
    Order allow,deny
    Allow from all
  </Directory>

  <Directory ~ "\.svn">
    Order allow,deny
    Deny from all
  </Directory>

  <Directory ~ "\.git">
    Order allow,deny
    Deny from all
  </Directory>

  LogLevel <%= node[:apache][:log_level] %>
  ErrorLog <%= node[:apache][:log_dir] %>/<%= @params[:name] %>-error.log
  CustomLog <%= node[:apache][:log_dir] %>/<%= @params[:name] %>-ssl-access.log combined
  CustomLog <%= node[:apache][:log_dir] %>/<%= @params[:name] %>-ssl-ganglia.log ganglia

  FileETag none

  RewriteEngine On
  <% if node[:apache][:version] == '2.2' -%>
  Include <%= @params[:rewrite_config] %>-ssl*
  RewriteLog <%= node[:apache][:log_dir] %>/<%= @application_name %>-rewrite.log
  RewriteLogLevel 0
  <% else -%>
  IncludeOptional <%= @params[:rewrite_config] %>-ssl*
  <% end -%>

  <% @environment.each do |key, value| %>
  SetEnv "<%= key %>" "<%= value %>"
  <% end %>

  <% if @params[:mounted_at] -%>
  AliasMatch ^<%= @params[:mounted_at] %>/(.*)$ <%= @params[:docroot] %>$1
  <% end -%>

  <% if node[:apache][:version] == '2.2' -%>
  Include <%= @params[:local_config] %>-ssl*
  <% else -%>
  IncludeOptional <%= @params[:local_config] %>-ssl*
  <% end -%>
</VirtualHost>
<% end -%>
